* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
	width: 512px;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	min-height: 50px;
	position: absolute;
	align-items: center;
	justify-content: space-between;
	display: flex;
	flex-direction: row;
	top: 0;
	left: 1em;
	right: 1em;
	color: white;
	font-size: smaller;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

.menu {
	display: flex;
    gap: 10px;
	opacity: 0.5;

	position: relative;
}


.follow-dot {
	background-color: red;
	border-radius: 50%;
	width: 6px;
	height: 6px;
	
	display: flex;
    align-items: center;
    justify-content: center;

	position: absolute;
	translate: 1650% -50%;
}

.underline {
	background-color: white;
	width: 20px;
	height: 3px;
	
	display: flex;
    align-items: center;
    justify-content: center;

	position: absolute;
	translate: 591% 700%;
}

.reel-header i {
	font-size: 1.5em;
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	gap: 2px;
	min-height: 100px;
	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

.copy > div {	
	padding: 0 1em; 
    margin-bottom: 0.5em;
}

.footer-icon {	
	background-color: black;
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 5em;
	font-size: x-small;

	position: absolute;
	translate: 0%;
}

.footer-icon > div:not(.create) {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: x-small;
}

.footer-icon > div:not(.home) :not(.create img) {
	opacity: 0.5;
}

.footer-icon i {
	font-size: 2em;

}

/* Create icon tiktok img */
.create {
	display: inline-flex;
	border: none;
	border-radius: 8px;
	width: 40px;
	height: 28px;
	overflow: hidden;
  	align-items: center;
  	justify-content: center;
}

.create img {
	width: 210%;
	height: 210%;
	object-fit: cover;
}

.inbox {
	background-color: red;
	color: white;
	border: none;
	border-radius: 8px;
	width: 2em;
	height: 1.5em;
	font-size: x-small;

	display: flex;
    align-items: center;
    justify-content: center;

	position: absolute;
	translate: 50% -30%;
}

/* Sidebar */
.sidebar {
	min-width: 80px;
	min-height: 450px;
	padding: 0 16px;
	position: absolute;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	right: 0;
	top: 40%;
	padding-bottom: 120px;
	color: white;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

.icons-sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
	margin-top: 30px;
}

.icons-sidebar > div:not(.boolean-icon) {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: small;
	gap: 0.5px;
}

.icons-sidebar i {
	font-size: 2em;
}

.boolean-icon {
	display: inline-flex;
	border: 2px solid white;
	border-radius: 50%;
	overflow: hidden;
	width: 40px;
	height: 40px;
	position: relative;
}

.plus {
	background-color: red;
	color: white;
	border: none;
	border-radius: 50%;
	width: 20px;
	height: 20px;

	display: flex;
    align-items: center;
    justify-content: center;

	position: absolute;
	translate: 0% 150%;
}
/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
}

/* --------------------- */
